@using Vemianou.ViewsModels
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title -Vemianou</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">
    @Styles.Render("~/Content/css/open-iconic-bootstrap.min.css")
    @Styles.Render("~/Content/css/animate.css")

    @Styles.Render("~/Content/css/owl.carousel.min.css")
    @Styles.Render("~/Content/css/owl.theme.default.min.css")
    @Styles.Render("~/Content/css/magnific-popup.css")
    @Styles.Render("~/Content/css/aos.css")
    @Styles.Render("~/Content/css/ionicons.min.css")

    @Styles.Render("~/Content/css/bootstrap-datepicker.css")
    @Styles.Render("~/Content/css/jquery.timepicker.css")

    @Styles.Render("~/Content/css/flaticon.css")
    @Styles.Render("~/Content/css/icomoon.css")
    @Styles.Render("~/Content/css/style.css")

    @Scripts.Render("~/Content/js/jquery.min.js")

    @Styles.Render("~/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")
    <!-- SweetAlert2 -->
    @Scripts.Render("~/Content/plugins/sweetalert2/sweetalert2.min.js")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Content/images/logo_vemianou.jpg" style="width:60px;height:50px;border-radius:50%" class="img-rounded" /> VEMIANOU WEB
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="home"><a href="@Url.Action("Index","Home")" class="nav-link">Acceuil</a></li>
                    <li class="nav-item" id="about"><a href="@Url.Action("About","Home")" class="nav-link">A Propos</a></li>
                    <li class="nav-item" id="events"><a href="@Url.Action("Event","Home")" class="nav-link">Nos actions</a></li>
                    @*<li class="nav-item" id="dons"><a href="@Url.Action("Dons","Home")" class="nav-link">Donate</a></li>
                        <li class="nav-item" id="blogs"><a href="@Url.Action("Blogs","Home")" class="nav-link">Blog</a></li>*@
                    <li class="nav-item" id="galleries"><a href="@Url.Action("Galleries","Home")" class="nav-link">Galerie</a></li>
                    @*<li class="nav-item" id="events"><a href="@Url.Action("Event","Home")" class="nav-link">Evenements</a></li>*@
                    <li class="nav-item" id="contact"><a href="@Url.Action("Contact","Home")" class="nav-link">Contact</a></li>
                    <li class="nav-item" id="login"><a href="@Url.Action("Login","User")" class="nav-link">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->


    @RenderBody()


    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">A Propos</h2>
                        <p>L'association VEMIANOU  est une association à but non lucréatif crée le 30 mars 2015..</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Evenements récents</h2>
                        @*@foreach (EvenementViewModel ev in ViewBag.evenements as List<EvenementViewModel>)
                        {
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url(/Content/images/@(ev.imagepath));"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="@Url.Action("DetailsEvenement","Home",new { iditem=ev.iditem})">@ev.designation</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> @ev.dateevent</a></div>
                                    </div>
                                </div>
                            </div>
                        }*@
                        <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url(/Content/images/dossier33/IMG_8069.JPG);"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="@Url.Action("Event","Home")">Remise de moto Glidji</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url(/Content/images/dossier44/DSC_0068.JPG);"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="@Url.Action("Event","Home")">Remise de table banc Aneho</a></h3>
                                    <div class="meta">
                                        <div><a href="#"><span class="icon-calendar"></span>Sep. 10, 2018</a></div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Liens</h2>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Home")" class="py-2 d-block">Home</a></li>
                            <li><a href="@Url.Action("About","Home")" class="py-2 d-block">A Propos</a></li>
                            <li><a href="@Url.Action("Causes","Home")" class="py-2 d-block">missions</a></li>
                            <li><a href="@Url.Action("Event","Home")" class="py-2 d-block">Evenements </a></li>
                            <li><a href="@Url.Action("Contact","Home")" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Avez vous une question ?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Association Vemianou

                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    @Scripts.Render("~/Content/js/jquery.min.js")
    @Scripts.Render("~/Content/js/jquery-migrate-3.0.1.min.js")
    @Scripts.Render("~/Content/js/popper.min.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/jquery.easing.1.3.js")
    @Scripts.Render("~/Content/js/jquery.waypoints.min.js")

    @Scripts.Render("~/Content/js/jquery.stellar.min.js")
    @Scripts.Render("~/Content/js/owl.carousel.min.js")
    @Scripts.Render("~/Content/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Content/js/aos.js")

    @Scripts.Render("~/Content/js/jquery.animateNumber.min.js")
    @Scripts.Render("~/Content/js/bootstrap-datepicker.js")
    @Scripts.Render("~/Content/js/jquery.timepicker.min.js")
    @Scripts.Render("~/Content/js/scrollax.min.js")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    @Scripts.Render("~/Content/js/google-map.js")
    @Scripts.Render("~/Content/js/main.js")
    <script>
        $(function () {
            if ('@TempData["success"]' != "") {
                Swal.fire('','@TempData["success"]', 'success')
            }
        });
    </script>

</body>
</html>
