
@using Vemianou.Models;

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Administrateurs";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-blue">Liste des administrateurs</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Acceuil</a></li>
                    <li class="breadcrumb-item active">Administrateurs</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid float-right mb-2">

    </div>
    <br />
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Liste des administrateurs</h3>
                        <div class="row float-right ">
                            @if (ViewBag.typeuser == 1)
                            {
                                <buton class="btn btn-primary" data-toggle="modal" data-target="#modal-categorie">Nouveau administrateur</buton>
                            }
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="overflow-x:auto">
                        <table id="example" class="table table-bordered table-striped ">
                            <thead>
                                <tr>
                                    <th>Nom et prenoms </th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>Login</th>
                                    <th>Telephone</th>
                                    <th>Telephone2</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    foreach (USER us in Model)
                                    {

                                        <tr>
                                            <td>@us.nomprenomsuser</td>
                                            <td>@us.email</td>
                                            <td>@us.adressuser</td>
                                            <td>@us.loginuser</td>
                                            <td>@($"{us.indicatifuser} {us.teluser}")</td>
                                            <td>@($"{us.indicatifuser} {us.details1}")</td>
                                            <td width="10px"> <a href="@Url.Action("infocompte","Admin",new { iduser = us.iduser})"><i class="fas fa-edit blue" style="color:#0069d9"></i></a></td>
                                            <td width="10px"> <a href="#" onclick="deleteUser(@us.iduser)"><i class="fa fa-trash blue" style="color:#0069d9"></i></a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"> <h5></h5></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <div class="modal fade" id="modal-categorie">
        <div class="modal-dialog modal-lg">

            <div Class="modal-content">
                <div Class="modal-header">
                    <h4 Class="modal-title" id="lib">Ajouter un administrateur </h4>
                    <Button type="button" Class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </Button>
                </div>
                <div Class="modal-body">

                    <form action="@Url.Action("nouveaucompte","Admin")" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Nom</label>
                            <input type="text" class="form-control" name="nomuser" required />
                        </div>
                        <div class="form-group">
                            <label>Prenom</label>
                            <input type="text" class="form-control" name="prenomuser" required />
                        </div>
                        <div class="form-group">
                            <label>loginuser</label>
                            <input type="text" class="form-control" name="loginuser" required />
                        </div>
                        <div class="form-group">
                            <label>mot de passe</label>
                            <input type="password" class="form-control" name="passuser" required />
                        </div>
                        
                        <div class="row-fluid float-right">
                            <Button type="button" Class="btn btn-danger mr-2" data-dismiss="modal">Fermer</Button>
                            <Button type="submit" Class="btn btn-success">Valider</Button>
                        </div>
                    </form>

                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- /.content -->
@section scripts{
    <script>
        function deleteUser(id) {
            Swal.fire({
                title: 'Etes-vous sur?',
                text: "Voulez-vous vraiment supprimer cette catégorie ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui',
                cancelButtonText: 'Non'
            }).then((result) => {
                if (result.value) {
                    window.location.href = "/Admin/DeleteAdmin?idadmin=" + id;
                }
            })
        }

        function updateUser(id) {
            window.location.href = "/Admin/infocompte?idadmin=" + id;
        }

    </script>
}





