@using Vemianou.Models
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Categories";
    ITEM it = ViewBag.article;
    List<string> images = ViewBag.images as List<string>;
    int typ = 0;
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-blue">@it.designation</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("ListeArticle","Admin")">Liste des appartements</a></li>
                    <li class="breadcrumb-item active">Informations appartement</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid float-right mb-2">

    </div>
    <br />
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Informations appartement</h3>
                        <div class="row float-right">
                            <a href="@Url.Action("updateItem","Admin",new {id=it.iditem,type=typ })"class="btn btn-success" >Modifier les information</a>
                        </div>
                        <div class="row float-right mr-5">
                            <a href="@Url.Action("updateImage","Admin",new {id=it.iditem,type=typ})" class="btn btn-success" >Modifier les images</a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row ">
                            @foreach (string imag in images)
                            {
                                <div class="col-lg-4 col-md-4 mb-2">
                                    <img src="~/Content/images/@imag" class="img-fluid w-100" />
                                </div>
                            }
                        </div>
                        
                        <h6 class="mt-5">Catégorie: @it.SOUSFAMILL.libsousfamill</h6>
                        <hr />
                        <h6>Designation: @it.designation</h6>
                        <hr />
                        <h6>Details produit: @it.designdetails</h6>
                        <hr />
                        <h6>Details produit 2: @it.designdetails2</h6>
                        <hr />
                        <h6>Prix : @it.prix1 @it.devise</h6>
                        <hr />
                        <h6>Remise: @it.tauxremiz @("%")</h6>
                        <hr />
                        <h6>Prix avec remise: @it.prix2 @it.devise</h6>
                        <hr />
                        <h6>Notification: @it.notifs</h6>
                        <hr />
                        <h6>date de publication: @it.datpublish.ToString()</h6>
                        <hr />
                        <h6>details livraison: @it.detailslivraison</h6>
                        <hr />
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

    <!-- /.container-fluid -->
</section>
<div class="modal fade" id="modal-categorie">
    <div class="modal-dialog modal-lg">

        <div Class="modal-content">
            <div Class="modal-header">
                <h4 Class="modal-title" id="lib">Nouvelle catégorie</h4>
                <Button type="button" Class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </Button>
            </div>
            <div Class="modal-body">
                <form action="@Url.Action("addCategorie","Admin")" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nom" required />
                    </div>
                    <div class="row-fluid float-right">
                        <Button type="button" Class="btn btn-danger mr-2" data-dismiss="modal">Fermer</Button>
                        <Button type="submit" Class="btn btn-primary">Valider</Button>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="update-categorie">
    <div class="modal-dialog modal-lg">

        <div Class="modal-content">
            <div Class="modal-header">
                <h4 Class="modal-title" id="lib">Modifier la catégorie</h4>
                <Button type="button" Class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </Button>
            </div>
            <div Class="modal-body">
                <form action="@Url.Action("updateCategorie","Admin")" method="POST">
                    <div class="form-group">
                        <input type="text" id="idcat" class="form-control" name="id" required hidden />
                        <input type="text" id="nomcat" class="form-control" name="nom" required />
                    </div>
                    <div class="row-fluid float-right">
                        <Button type="button" Class="btn btn-danger mr-2" data-dismiss="modal">Fermer</Button>
                        <Button type="submit" Class="btn btn-primary">Valider</Button>
                    </div>

                </form>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.content -->
@section scripts{
    <script>
        function deleteCategorie(id) {
            Swal.fire({
                title: 'Etes-vous sur?',
                text: "Voulez-vous vraiment supprimer cette catégorie ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui',
                cancelButtonText: 'Non'
            }).then((result) => {
               if (result.value) {
                   window.location.href = "/Admin/deleteCategorie?id=" + id;
               }
            })
        }

        function updateCategorie(id, nom) {

            $("#idcat").val(id);
            $("#nomcat").val(nom);
            $('#update-categorie').modal('show');
        }

    </script>
}


