
@using Vemianou.Models;
@model ITEM;
@{
    ViewBag.Title = "Modification";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<SOUSFAMILL> listeCategorie = ViewBag.categories;
    ModelVemianou db = new ModelVemianou();
    SOUSFAMILL sf = db.SOUSFAMILL.Find(Model.iditem);
}



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark text-blue">Modification Evenement</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Acceuil</a></li>
                    <li class="breadcrumb-item active">Modification </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    @if (TempData["error"] != null)
    {
        <div class="container -fluid">
            <div class="alert alert-danger alert-dismissible">
                @TempData["error"]
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>

    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Modifier</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="@Url.Action("updateItem","Admin")" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                @Html.EditorFor(model => model.iditem, new { htmlAttributes = new { @class = "form-control", @required = "true", @hidden = "true" } })
                                @Html.ValidationMessageFor(model => model.iditem, "", new { @class = "text-danger" })
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-3 col-md-3">
                                    <label>Titre</label>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    @Html.EditorFor(model => model.designation, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                    @Html.ValidationMessageFor(model => model.designation, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-3 col-md-3">
                                    <label>Description</label>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    @Html.EditorFor(model => model.designdetails, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                                    @Html.ValidationMessageFor(model => model.designdetails, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-3 col-md-3">
                                    <label>Details</label>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    <textarea class="form-control" name="designdetails2" rows="10" required>@Model.designdetails2</textarea>

                                    @Html.ValidationMessageFor(model => model.designdetails2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-3 col-md-3">
                                    <label>Date</label>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    <input type="date"  class="form-control" value="@Model.datpromo1.ToString("yyyy-MM-dd")" name="datpromo1" />
                                    @Html.ValidationMessageFor(model => model.datpromo1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                          
                            <div class="row mb-2">
                                <div class="col-lg-3 col-md-3">
                                    <label>Ordre</label>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    @Html.EditorFor(model => model.ordre1, new { htmlAttributes = new { @class = "form-control", @type = "number" } })

                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-3 col-md-3">
                                    <label>Categorie</label>
                                </div>
                                <div class="col-lg-9 col-md-9">
                                    <select class="form-control" name="category">
                                        @if (listeCategorie.Count > 0)
                                        {
                                            foreach (SOUSFAMILL sfm in listeCategorie)
                                            {
                                                if (sfm.idsousfamill == Model.category)
                                                {
                                                    <option value="@sfm.idsousfamill" selected>@sfm.libsousfamill</option>
                                                }
                                                else
                                                {
                                                    <option value="@sfm.idsousfamill">@sfm.libsousfamill</option>
                                                }

                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal" style="cursor:pointer">Annuler</button>
                                <button type="submit" class="btn btn-success" style="cursor:pointer">Enregistrer</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section scripts{

}




