@using Vemianou.ViewsModels
@model List<EvenementViewModel>
@{
    ViewBag.Title = "Evenements";
    int n = ViewBag.n;
    int nombre = ViewBag.nombre;
    int total = ViewBag.total;
}

@*<div class="hero-wrap" style="background-image: url('/Content/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Acceuil</a></span> <span>Actions</span></p>
                    <h1 class="mb-3 bread " data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Nos Actions</h1>
                </div>
            </div>
        </div>
</div>*@
<div class="hero-wrap2" style="background-image: url('/Content/images/bg_1.jpg');background-size:inherit" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" style="height:280px">
        <div class="row no-gutters  align-items-center justify-content-center" data-scrollax-parent="true" style="height:250px">
            <div class="col-md-7 ftco-animate text-center " style="margin-bottom:auto;margin-top:auto">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="@Url.Action("Index","Home")">Acceuil</a></span> / <span>Nos Actions</span></p>
                <h1 class="bread font-weight-bold text-white ">Nos Actions</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (EvenementViewModel ev in Model)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry align-self-stretch">
                        <a href="@Url.Action("DetailsEvenement","Home",new { iditem = ev.iditem})" class="block-20" style="background-image: url('/Content/images/@(ev.imagepath)');">
                        </a>
                        <div class="text p-4 d-block">
                            <div class="meta mb-3">
                                <div><a href="#">@ev.dateevent</a></div>
                            </div>
                            <h3 class="heading mb-4"><a href="@Url.Action("DetailsEvenement","Home",new {iditem = ev.iditem})">@ev.designation</a></h3>
                            @*<p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>*@
                            <p>@ev.description.</p>
                            <p><a href="@Url.Action("DetailsEvenement","Home",new {iditem = ev.iditem})">Afficher<i class="ion-ios-arrow-forward"></i></a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                @if (n > 1)
                {
                    <div class="block-27">
                        <ul>
                            @if (nombre >= 2)
                            {
                                <li><a href="@Url.Action("Index","Evenement",new { nb = nombre - 1})">&lt;</a></li>
                            }
                            @for (int i = 0; i < n; i++)
                            {

                                if (i == (nombre - 1))
                                {
                                    <li class="active"><span>@(i + 1)</span></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index","Evenement",new { nb = nombre + 1})">@(i + 1)</a></li>
                                }
                            }
                            @if (nombre < n)
                            {
                                <li><a class="mdi mdi-chevron-double-right" href="@Url.Action("Index","Evenement",new { nb = nombre + 1})">&gt;</a></li>
                            }
                        </ul>
                    </div>

                }

            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#events').addClass("active");
    });
</script>
