@{
    ViewBag.Title = "Index";
}
<div class="hero-wrap" style="background-image: url('/Content/images/bg_7.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Nous oeuvrons pour l'épanouissement des populations vulnérables</h1>

               @*<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="https://vimeo.com/45830194" class="btn btn-white btn-outline-white px-4 py-3 popup-vimeo"><span class="icon-play mr-2"></span>Watch Video</a></p>*@
            </div>
        </div>
    </div>
</div>
<section class="ftco-counter ftco-intro" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-1 align-items-stretch">
                    <div class="text">
                        <span>Plus de</span>
                        <strong class="number " data-number="100" style="display:inline">0 </strong> <span style="display:inline">Réalisations</span>
                        <span>50 filles formées ,2 écoles etc ..</span>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Nos actions</h3>
                        <p>Nous comptons plusieurs actions à notre actif.</p>
                        <p><a href="@Url.Action("Event","Home")" class="btn btn-white px-3 py-2 mt-2">Nos actions</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 color-3 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">Devenir volontaire</h3>
                        <p>Voulez-vous nous soutenir dans l'avancement de nos projets ?</p>
                        <p><a href="@Url.Action("Home","Contact")" class="btn btn-white px-3 py-2 mt-2">Devenir volontaire</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center  pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Notre mission</h2>
                <p>L'association VEMIANOU  est une association à but non lucréatif dont la mission est la suivante</p>

            </div>
            <div class="col-md-10 heading-section ftco-animate text-center">
                <p>
                    La raison d'être de Vemianou, c'est de mobiliser et rassembler les ressources nécessaires afin de contribuer au développement des couches vulnérables de la population et d'améliorer les conditions de vie des personnes en situation de précarité"
                </p>
            </div>

        </div>

    </div>
</section>*@

<section class="ftco-section bg-light">
    <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-5 heading-section ftco-animate text-center">
            <h2 class="mb-4">Nos Evenements</h2>
            <p>Nous comptons plusieurs évenements à notre actif </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="@Url.Action("DetailsBlog","Home",new {num=2 })" class="block-20" style="background-image: url('/Content/images/dossier4/DSC_0068.JPG');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2018</a></div>
                            @*<div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                        </div>
                        <h3 class="heading mb-4"><a href="@Url.Action("DetailsBlog","Home",new { num=2})">Remise de table banc Aneho</a></h3>
                        @*<p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>*@
                        <p>Remise de table banc au lycée technique de glidji pour pallier au problème de table banc .</p>
                        <p><a href="@Url.Action("DetailsBlog","Home",new { num=2})">Afficher<i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="@Url.Action("DetailsBlog","Home",new { num=3})" class="block-20" style="background-image: url('/Content/images/dossier3/IMG_8069.JPG');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Oct. 10, 2019</a></div>
                            @*<div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                        </div>
                        <h3 class="heading mb-4"><a href="@Url.Action("DetailsBlog","Home",new { num=3})">Dons de moto Glidji</a></h3>
                        @*<p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>*@
                        <p>Dons de moto aux jeunes de Glidji pour l'entreprenariat et  une reinsertion sociale .</p>
                        <p><a href="@Url.Action("DetailsBlog","Home",new { num=3})">Afficher <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="@Url.Action("DetailsBlog","Home",new { num=1})" class="block-20" style="background-image: url('/Content/images/dossier1/IMG_0284.JPG');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">Sep. 10, 2016</a></div>
                            @*<div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>*@
                        </div>
                        <h3 class="heading mb-4"><a href="@Url.Action("DetailsBlog","Home",new { num=1})">Journée internationale de l'arbre</a></h3>
                        @*<p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>*@
                        <p> Cette journée dédiée à la protection des arbres et de l'environnement est aussi placée sous le signe de la lutte contre l'érosion côtière.</p>
                        <p><a href="@Url.Action("DetailsBlog","Home",new { num=1})">Afficher <i class="ion-ios-arrow-forward"></i></a></p>
                    </div>
                </div>
            </div>

        </div>
       
    </div>
    
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Dons des partenaires</h2>
                <p>Nous avons des partenaires actives et dynamiques prets à investir pour la réalisation et l'évolution de nos projets .</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/im.png);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">11/10/2019</span>
                            <div class="text">
                                <p><span>300FCFA</span><br/> <a href="#">Remise de table bancs</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/im.png);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">15/01/2020</span>
                            <div class="text">
                                <p><span>150FCFA</span><br />  <a href="#">Dons de moto</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="d-flex mb-4">
                        <div class="img" style="background-image: url(/Content/images/im.png);"></div>
                        <div class="info ml-4">
                            <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                            <span class="position">30/12/2019</span>
                            <div class="text">
                                <p><span>250FCFA</span> <br /> <a href="#">Dons de vivres aux necessiteux</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-gallery">
    <div class="d-md-flex">
        <a href="/Content/images/dossier44/DSC_0068.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier4/DSC_0068.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier44/DSC_0114.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier4/DSC_0114.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier44/DSC_0196.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier4/DSC_0196.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier44/DSC_0230.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier4/DSC_0230.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
    <div class="d-md-flex">
        <a href="/Content/images/dossier33/IMG_8056.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier3/IMG_8056.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier33/IMG_8069.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier3/IMG_8069.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier33/IMG_8089.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier3/IMG_8089.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier33/IMG_8097.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier3/IMG_8097.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
</section>

<section class="ftco-gallery">
    <div class="d-md-flex">
        <a href="/Content/images/dossier22/DSC_0239.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier2/DSC_0239.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier22/DSC_0242.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier2/DSC_0242.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier22/DSC_0248.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier2/DSC_0248.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier22/DSC_0346.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier2/DSC_0346.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
    <div class="d-md-flex">
        <a href="/Content/images/dossier11/IMG_0284.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier1/IMG_0284.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier11/IMG_0459.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier1/IMG_0459.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier11/IMG_0464.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier1/IMG_0464.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
        <a href="/Content/images/dossier11/IMG_0476.JPG" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url(/Content/images/dossier1/IMG_0476.JPG);">
            <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-search"></span>
            </div>
        </a>
    </div>
</section>



<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">EVENEMENTS A VENIR</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/Content/images/dossier5/pr_av1.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        @*<div class="meta mb-3">
                        <div><a href="#">Sep. 10, 2018</a></div>
                        <div><a href="#">Admin</a></div>
                        <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>*@
                        <h3 class="heading mb-4"><a href="#">Projet d'équipement numérique au bénefice d'écoles du Togo pour réduire la fracture numérique</a></h3>
                        @*<p class="time-loc"><span class="mr-2"><i class="icon-clock-o"></i> 10:30AM-03:30PM</span> <span><i class="icon-map-o"></i> Venue Main Campus</span></p>*@
                        <p>
                            L'objectif est de doter les écoles accueillant les enfants, d'outils informatiques, pour leur permettre de se familiariser très tôt à la digitalisation.
                        </p>
                        <p><a href="@Url.Action("DetailsBlog","Home",new { num=4})">Afficher <i class="ion-ios-arrow-forward"></i></a></p>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="ftco-section-3 img" style="background-image: url(/Content/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <div class="img img-2 align-self-stretch" style="background-image: url(/Content/images/bg_4.jpg);"></div>
            </div>
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h3 class="mb-3">Devenir un volontaire</h3>
                <form action="@Url.Action("saveContact","Home")" method="POST"  class="volunter-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre nom" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Votre Email" required>
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Envoyer" class="btn btn-white py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('#home').addClass("active");
    });
</script>